<section class = "fondo">
    <div class="cal">
      <label class="text">Formula: E = mc²</label><br>
      <label class="text">Nombre: Sergio Jimenez Cano</label><br>
      <label class="text">Matricula: s19004857</label><br>
      <div class="cinterno">
        <label class="text2"> Equivalencia entre masa y energía, se establece por la expresión de la teoría de la relatividad. Esta fórmula establece que la energía de un cuerpo en reposo (E) se puede calcular como la masa (m) multiplicada por la velocidad de la luz (c = aproximadamente 3 × 10⁸ m/s) al cuadrado. La velocidad de la luz ya es una cifra enorme, y su cuadrado resulta casi inconcebiblemente mayor. De ahí que una diminuta cantidad de materia, si se convierte completamente en energía, genere una fuerza enorme</label><br><br>
        <img class = "imagen" src = "https://upload.wikimedia.org/wikipedia/commons/c/c4/Emc2.svg">
      </div>
      <div class="cinterno2">
        <label class="text4">E = Energia (Joules)</label><br>
        <label class="text4">m = masa (kg)</label><br>
        <label class="text4">c = velocidad de la luz (299,792,458 m/s)</label><br>
      </div>
      <button class = "boton" routerLink='/formula'>Calcular</button>
    </div>
  
  </section>